.contact__block {
  padding: 34px 25px;
  height: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(156, 156, 156, 0.5);
  margin-top: 40px;
}

.contact__title {
  font-size: var(--h1-font-size);
  margin-bottom: 10px;
}

.contact__text {
  font-size: var(--base-font-size);
  margin-bottom: 5px;
}

.contact__list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.contact__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact__item i {
  font-size: 40px;
  color: var(--first-color);
}

.contact__item_title {
  font-size: var(--h2-font-size);
}

.contact__item_info {
  font-size: var(--h3-font-size);
}

@media screen and (min-width: 1024px) {
  .contact__title {
    font-size: var(--h2-font-size);
    margin-bottom: 10px;
  }

  .contact__list {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }

  .contact__item {
    gap: 15px;
  }

  .contact__item_title {
    font-size: var(--h3-font-size);
  }

  .contact__item_info {
    font-size: var(--base-font-size);
  }
}
